/* Universal */
html {
  font-size: 18px;
  font-family: Helvetica;
}

.container {
  width: 960px;
  margin: 0 auto;
  display: flex;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

/* body */

header {
  background-color: black;
  width: 100%;
}

.logo img {
  height: 1.5rem;
  margin: auto 0.5rem;
}

.logo p {
  color: white;
  font-size: 1rem;
  margin: 0.66rem 0.5rem;
}

.main {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: flex;
}

.second {
  margin-top: 9rem;
  margin-bottom: auto;
}

.banner {
  background-color: black;
  color: white;
  width: 20rem;
}

.banner p {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  margin-left: 3rem;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

nav {
  background-color: firebrick;
  color: white;
  width: 100%;
}

ul {
  justify-content: space-around;
}

.mobile {
  display: none;
}

li {
  margin: 0.75rem;
}

/* Product Grit */

.product {
  margin: 3rem auto;
  justify-content: space-between;
}

.subcontainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.featured {
  width: auto;
  height: 13rem;
  border: 4px solid black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.featured img {
  height: 9rem;
  width: auto;
  margin: 2rem auto;
}

.description {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#bigglasses {
  max-width: 90%;
  height: auto;
}

/* location & hours*/

.contact {
  justify-content: space-between;
}

.info {
  width: 35%;
}
.title {
  background-color: black;
  color: white;
  padding: 1rem 2rem;
}

.info p {
  margin-top: 0.25rem;
}

footer {
  background-color: black;
  color: white;
  height: 5rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
}

/* Media query */

@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  .banner h1 {
    font-size: 1.75rem;
  }
  .pc {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: center;
  }
  .subcontainer {
    width: 47%;
  }
  .glasses {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .logo p {
    display: none;
  }
  .logo {
    justify-content: center;
  }
  .logo img {
    margin: 1rem auto;
  }
  .main {
    height: 15rem;
  }
  .second {
    margin: 0 auto;
  }
  .banner {
    width: 100%;
    height: 5rem;
    margin-top: 10rem;
  }
  .banner p {
    font-size: 0.77rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .banner h1 {
    font-size: 1rem;
    margin-left: 2rem;
  }
  .subcontainer {
    width: 90%;
    margin: 0 auto;
  }
  .watch {
    display: none;
  }
  .contact {
    flex-direction: column;
    margin: 0 auto;
  }

  .info {
    width: 90%;
    margin: 0 auto;
  }
  .info p {
    margin-bottom: 0.5rem;
  }
}
